.App {
  text-align: center;
  background-color: #FEFEE3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header div {
  background-color: #D68C45;
}

footer div {
  background-color: #B02E0C;
}

.home img {
  width: auto;
}

.home h2 {
  margin: 0rem 0rem 2.5rem 0rem;
  color: #2C6E49;
}

.form main {
  margin-bottom: 5rem; /* not working... */
}

.weather span {
  font-size: .9em;
}

.weather h4, h5 {
  margin: .5rem;
  text-align: left;
  font-size: 1rem;
}

#icon-current {
  grid-row: 1; 
  position: relative;
  transform: translateX(150%); /* see if there's a better way */
}